@use 'styles/colors.scss' as color;
@use 'styles/layout.scss' as layout;
@use 'styles/media.scss' as media;

.container {
    height: calc(100vh - 14rem);
    overflow-y: auto;

    &__img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img {
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            cursor: pointer;
        }

        &__img-input {
            height: 0;
            visibility: hidden;
        }

        &__img-text {
            margin-top: 1rem;
            font-size: 1.6rem;
            color: color.$black-600;
            cursor: pointer;

            @include media.mobile {
                font-size: 1.2rem;
            }
        }
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 2rem;

        &__input {
            width: 40rem;
            height: 4rem;
            line-height: 4rem;
            text-indent: 1rem;
            color: color.$black-600;
            border-radius: layout.$border-radius-5;
            outline: none;
            border: none;
            font-weight: bold;
            font-size: 1.4rem;

            @include media.mobile {
                width: 100%;
                font-size: unset;
            }

            &--error {
                border: 2px solid color.$error-red;
            }
        }

        &__error {
            align-self: center;
            color: color.$error-red;
            font-size: 1.4rem;
        }

        &__submit {
            margin-top: 3rem;

            &__btn {
                width: 12rem;
                height: 4rem;
                background-color: color.$main-orange;
                border: none;
                color: color.$main-white;
                font-size: 1.6rem;
                font-weight: bold;
                border-radius: layout.$border-radius-10;
                cursor: pointer;

                &:disabled {
                    pointer-events: none;
                    background-color: color.$secondary-orange;
                }
            }
        }
    }
}
