@use 'styles/colors.scss' as color;
@use 'styles/layout.scss' as layout;

.container {
    max-height: calc(100vh - 15rem);
    overflow-y: scroll;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        height: 20rem;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 3rem;
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 3rem;

            &__chef-name {
                font-size: 1.6rem;
                color: color.$ternary-white;
            }

            &__chef-logo {
                &__img {
                    width: 7rem;
                    height: 7rem;
                }
            }
        }
    }

    &__body {
        &__package-info,
        &__package-desc,
        &__comments,
        &__location {
            background-color: color.$main-white;
            margin-bottom: 2rem;
            box-shadow: 0 4px 4px -2px #acacac;
            padding: 0.5rem;

            &__sidebar {
                &__header {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: color.$secondary-white;
                    padding-bottom: 1rem;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid color.$secondary-white;
                }
                &__medium {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 1rem;
                    margin: 2rem 0;

                    &__link {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        border-bottom: 2px solid color.$ternary-white;
                        padding-bottom: 0.5rem;

                        &__img {
                            width: 3rem;
                            height: 3rem;
                        }

                        &__text {
                            text-decoration: none;
                            color: color.$secondary-white;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        &__package-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            font-size: 1.4rem;
            color: color.$main-green;
            font-weight: bold;
        }

        &__package-desc {
            padding: 1rem;

            &__title {
                text-align: center;
                color: color.$black-600;
                font-size: 1.4rem;
                margin: 0 1rem;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                font-weight: bold;
                border-bottom: 1px solid color.$ternary-white;
            }
        }

        &__location {
            &__map-address {
                p {
                    margin: 0;
                }
            }

            &__address {
                width: 80%;
                margin: 1rem auto;
                text-align: center;
                font-weight: 1.2rem;
                font-weight: bold;
                color: color.$black-600;
            }

            &__routing {
                width: 20rem;
                height: 4rem;
                margin: 1rem auto;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                padding: 1rem 2rem;
                background-color: color.$main-orange;
                border-radius: layout.$border-radius-10;
                color: color.$main-white;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
    }

    &__buy {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color.$main-green;
        height: 5rem;
        color: color.$main-white;
        font-weight: bold;
        font-size: 1.6rem;
    }

    &__bottom-sidebar {
        &__header {
            font-size: 1.6rem;
            font-weight: bold;
            color: color.$secondary-white;
            padding-bottom: 1rem;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid color.$secondary-white;
        }

        &__quantity {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            color: color.$ternary-white;
            font-size: 1.4rem;
            margin-top: 1rem;

            &__details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 0.5rem;
                align-items: center;

                &__time {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }
            }

            &__select {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                width: 100%;
                border-bottom: 1px solid color.$ternary-white;
                padding-bottom: 1.5rem;

                &__area {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;

                    &__btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2.8rem;
                        height: 2.8rem;
                        border-radius: 50%;
                        background-color: color.$main-orange;
                        color: color.$main-white;

                        &--disabled {
                            pointer-events: none;
                        }
                    }

                    &__count {
                        font-weight: bold;
                    }
                }
            }
            &__separator {
                width: 70%;
                height: 1px;
                background-color: color.$ternary-white;
                margin: 1rem 0;
            }

            &__next {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                padding: 2rem;

                &__cancel,
                &__ok {
                    border: none;
                    min-width: 12rem;
                    height: 4rem;
                    line-height: 4rem;
                    border-radius: layout.$border-radius-10;
                    background-color: color.$main-orange;
                    color: color.$main-white;
                    font-weight: bold;
                    font-size: 1.4rem;
                }

                &__ok {
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}
