@use 'styles/colors.scss' as color;
@use 'styles/layout.scss' as layout;

.container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 5rem;
    background-color: color.$main-orange;
    overflow: hidden;
    transition: 0.6s;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 2rem;

        &__children {
            color: color.$ternary-white;
            font-size: 1.5rem;
            font-weight: bold;

            a {
                color: color.$secondary-white;
            }
        }
    }
}
