// Green
$main-green: #015248;
$lighter-main-green: lighten($main-green, 70%);
$green-100: #016559;

// White
$main-white: #fff;
$secondary-white: #eee;
$ternary-white: #ddd;
$white-600: #ccc;
$white-400: #aaa;

// Grey
$grey-600: #868e96;
$main-grey: #d4d4d4;

// Black
$black-900: #000;
$black-600: #333;
$black-400: #555;

// Red
$error-red: #cc2a24;

// Orange
$main-orange: #e96f12;
