@use './reset.scss';

// Hide scrollbar
::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}
