@use 'styles/colors.scss' as color;
@use 'styles/media.scss' as media;

.container {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: color.$white-850;

    @include media.desktop {
        left: 0;
        right: 0;
        max-width: 120rem;
        margin: 0 auto;
    }
}
