@use 'styles/colors.scss' as color;

.container {
    padding: 1rem;
    font-size: 1.2rem;
    color: color.$black-400;

    & p,
    & div {
        line-height: 1.5rem;
    }

    &__toggle-expand {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1rem;

        &__btn {
            border: none;
            background-color: transparent;
            color: color.$black-400;
        }
    }
}
